body {
    background-color: #2F3238;
}

.naslov {
    text-align: center;
    color: rgb(17, 115, 160);
    margin-top: 7rem;
    font-size: 1cm;
}

.sura {
    color: #fff;
    text-align: center;
    font-size: large;
    padding: 0 5rem;
}

.naslov-prevod{
    color: rgb(17, 115, 160);
    text-align: center;
    font-size: 1cm;
}

.prevod{
    color: white;
    text-align: center;
    font-size: large;
    padding: 0 5rem;
}