:root {
	--red: #ff3838;
	--white: #ffffff;
	--black: #000000;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

body, html {
	font-family: 'Ubuntu', sans-serif;
	margin: 0;
	height: 100%;
	scroll-behavior: smooth;
}



.navbar {
	background-color: rgba(61, 57, 57, 0.938);
	padding: 10px 8px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 99;
}

.navbar a {
	float: left;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	line-height: 25px;
	padding: 12px;
}

.navbar .logo {
	font-size: 35px;
	font-weight: bold;
	text-transform: uppercase;
}

.navbar-right a:hover {
	color: rgb(103, 149, 235);
}

.navbar-right a.active {
	color: white;
}

.navbar-right a {
	transition: color 0.5s ease;
}

.navbar-right {
	float: right;
}

.navbar .icon {
	display: none;
}

.slideshow-container {
	position: relative;
	height: 100%;
}

.slide-item {
	display: none;
}

.bgimg {
	height: 100%;
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bgimg::after {
	content: '\A';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(20, 20, 20, 0.089);
}

.caption {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	z-index: 9;
}

.caption h2 {
	color: var(--white);
	margin-bottom: 50px;
	text-transform: uppercase;
	font-size: 70px;
}

.caption p {
	color: var(--white);
	font-size: 0.8cm;
}

.caption button {
	background-color: var(--white);
	border: 2px solid var(--red);
	color: var(--red);
	padding: 10px 40px;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 16px;
	margin-top: 30px;
	transition: background-color 0.5s ease, color 0.5s ease;
}

.caption button:hover {
	cursor: pointer;
	color: var(--white);
	background-color: #000000;
}

.caption button:focus {
	outline: none;
}

.dot {
	cursor: pointer;
	height: 10px;
	width: 10px;
	margin:  2px;
	background-color: var(--white);
	border-radius: 5px;
	display: inline-block;
	transition: background-color 0.6s ease, height 0.6s;
}

.slide-control {
	position: absolute;
	left: 30px;
	top: 50%;
	width: 10px;
	text-align: center;
}

.dot:hover {
	background-color:#042b52;
}

.dot.active {
	background-color: #042b52;
	height: 60px;
}

/* fade animation */

.fade {
	animation-name: fade;
	animation-duration: 1.0s;
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.0s;
}

@keyframes fade {
	from {
		opacity: .4
	} to {
		opacity: 1
	}
}

@-webkit-keyframes fade {
	from {
		opacity: .4
	} to {
		opacity: 1
	}
}

@media screen and (max-width: 600px) {
	.navbar {
		padding: 10px;
	}
	
	.navbar .menu {
		display: none;
	}

	.navbar .icon {
		display: block;
		position: absolute;
		top: 13px;
		right: 13px;
	}

	.navbar.show {
		background: #00070ed2;
	}

	.navbar.show .menu {
		display: block;
		width: 100%;
	}

	.navbar.show .menu a {
		width: 100%;
	}


}
.namazi{
	padding: 4rem;
}
.row{
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.image{
	background: #50A7FF;
	position: relative;
	flex: 1;
	max-width: 700px;
	height: 280px;
	margin: 20px;
	overflow: hidden;
}

.image img{
	opacity: 0.8;
	position: relative;
	vertical-align: top;
	transition: 0.6s;
	transition-property: opacity;
}

.image:hover img{
	opacity: 1;
}

.image .details{
	z-index: 1;
	position: absolute;
	top: 0;
	right: 0;
	color: #fff;
	width: 100%;
	height: 100%;
}

.image .details h2{
	text-align: center;
	font-size: 35px;
	text-transform: uppercase;
	font-weight: 300;
	margin-top: 70px;
	transition: 0.4s;
	transition-property: transform;
}

.image .details h2 span{
	font-weight: 900;
}

.image:hover .details h2{
	transform: translateY(-30px);
}

.image .details p{
	margin: 30px 30px 0 30px;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	opacity: 0;
	transition: 0.6s;
	transition-property: opacity, transform;
}

.image:hover .details p{
	opacity: 1;
	transform: translateY(-40px);
}

.more{
	position: absolute;
	background: rgba(255, 255, 255, 0.8);
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
	bottom: -60px;
	transition: 0.6s;
	transition-property: bottom;
}

.image:hover .more{
	bottom: 0;
}

.more .read-more{
	color: #000;
	text-decoration: none;
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
}

.more .read-more span{
	font-weight: 900;
}

.more .icon-links i{
	color: #000;
	font-size: 20px;
}

.more .icon-links a:not(:last-child) i{
	margin-right: 20px;
}


@media (max-width: 1080px){
	.image{
		flex: 100%;
		max-width: 480px;
	}
}

@media (max-width: 400px){
	.image .details p{
		font-size: 16px;
	}

	.more .read-more, .more .icon-links a i{
		font-size: 18px;
	}
}

/*KONTAKT FORMA*/
.contact{
	margin: 0;
	padding: 3rem;
	background-color: #2F3238;
}
  
  .title h2{
	text-align: center;
	font-size: 3rem;
  }
  
  
  .contact .content .row{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
  }
.contact .content .row .card{
	background: #50A7FF;
	width: 240px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
	border-radius: 10px;
  }
  
  .contact .content .row .card .contact-icon{
	color: rgb(167, 29, 29);
	font-size: 4em;
	text-align: center;
	transition: transform 0.5s ease;
  }
  
  .contact .content .row .card:hover .contact-icon{
	transform: translateY(-10px);
  }
  
  .contact .content .row .card .info{
	text-align: center;
  }
  
  .contact .content .row .card .info h3{
	color: #111;
	font-size: 1.2em;
	font-weight: 700;
	margin: 10px;
  }
  
  .contact .content .row .card .info span{
	color: #666;
	font-weight: 500;
  }
  
  .contact-form{
	background: #50A7FF;
	max-width: 600px;
	margin-top: 50px;
	padding: 50px;
	border-radius: 10px;
	box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  }
  
  .contact-form h3{
	color: #111;
	font-size: 1.6em;
	font-weight: 600;
	text-align: center;
	margin-bottom: 40px;
  }
  
  .contact-form .input-box{
	position: relative;
	width: 100%;
	margin-bottom: 20px;
	margin-left: -10px;
  }
  
  .contact-form .input-box input,
  .contact-form .input-box textarea{
	color: #111;
	width: 100%;
	padding: 10px;
	font-size: 1em;
	font-weight: 400;
	outline: none;
	border: 1px solid #111;
	border-radius: 9px;
	resize: none;
  }
  
  .contact-form .input-box .send-btn{
	color: #50A7FF;
	background: white;
	display: inline-block;
	font-size: 1.1em;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	width: 100%;
	border: none;
	cursor: pointer;
	transition: 0.5s ease;
	margin-left: 0.6rem;
  }
  
  .contact-form .input-box .send-btn:hover{
	background: #6e6f70d8;
  }

.naslov-ispod{
	color: rgba(255, 255, 255, 0.575);
	font-weight: 400;
	text-align: center;
	font-size: 0.9cm;
}

.text-center {
	color: #50A7FF;
	font-size: 0.5cm;
	text-align: center;
	margin-top: 2rem;
}
.text-center strong{
	color: white;
}


.naslov-ispod2{
	color: rgba(255, 255, 255, 0.575);
	font-weight: 400;
	text-align: center;
	font-size: 1.3cm;
}

.farz-naslov{
	color: #50A7FF;
	text-align: center;
}

.abdest-farz{
	color: #50A7FF;
	padding: -0.5px;
	text-align: center;
}

.abdest-farz strong{
	color: white;
}

.sunnet-naslov{
	color: #50A7FF;
	text-align: center;
	margin-top: 5rem;
}

.abdest-sunnet{
	text-align: center;
	color: #50A7FF;
}

.abdest-sunnet strong{
	color: white;
}

/*SEKCIJA ABDEST*/
.services{
	background: #2F3238;
  }
   .services .content{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	margin-top: -3rem;
  }
  
  .title h2{
	text-align: center;
	color: #09478d;
	margin-bottom: 20px;
	font-size: 2px;
  }
  
  .title p{
	font-size: 18px;
	width: 80%;
	color: rgb(255, 255, 255);
  }
  
  
  .services .content .card{
	background: none;
	width: 340px;
	margin: 100px;
	padding: 40px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0 9px 50px #50a8ff8e;
	border-radius: 10px;
  }
 
  
  .services .content .card .info{
	text-align: center;
	font-size: large;
	margin-top: 2.3rem;
	font-weight: 700;
	color: white;
  }
  
  .services .content .card .info h3{
	color: #50A7FF;
	font-size: 1.2em;
	font-weight: 700;
	margin: 10px;
  }
  
.naslov-ispod3 {
	text-align: center;
	color: rgba(255, 255, 255, 0.575);
	font-weight: 400;
	text-align: center;
	font-size: 1.3cm;
	margin-top: 4rem;
}
  /*CRTA */
  .lines{
	width: 100%;
	height: 45px;
	position: relative;
	margin-top: -1rem;
  }
  .lines::after, .lines:before{
	content: '';
	position: absolute;
	margin: auto;
	height: 2px;
	background: #fff;
	width: 40%;
	top: 45%;
  }

  .lines::after{
	left: 0;
  }
  .lines::before{
	right: 0;
  }

.circle{
	height: 40px;
	width: 40px;
	border: 2px solid #50A7FF;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	border-radius: 50%;
}
.kvarenje{
	text-align: center;
	font-size: 0.5cm;
}

.kvarenje p {
	color: white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.kvarenje p span {
	color: #50A7FF;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
.uvjeti-naslov{
	text-align: center;
	color: white;
	font-size: 0.9cm;
}
/*sure*/
.sure-naslov{
	color: white;
	text-align: center;
	font-size: 1.2cm;
	margin-top: 3rem;
}

.butoni {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: -2rem;
}

a {
	text-decoration: none;
	color:#FFF;
	text-align: center;
  }

  .rainbow-button {
	width:calc(20vw + 5px);
	height:calc(7vw + 6px);
	background-image: linear-gradient(90deg, #00C0FF 0%, #465fe9 49%, #2538a5 80%, #00C0FF 100%);
	border-radius:5px;
	display:flex;
	align-items:center;
	justify-content:center;
	text-transform:uppercase;
	font-size:3vw;
	font-weight:bold;
  }
  .rainbow-button:after {
	content:attr(alt);
	width:20vw;
	height:7vw;
	background-color:#4e4e4e;
	display:flex;
	align-items:center;
	justify-content:center;
  }
  .rainbow-button:hover {
	animation:slidebg 2s linear infinite;
  }
  
  @keyframes slidebg {
	to {
	  background-position:20vw;
	}
  }
