*{
  background-color: #2F3238;;
  margin: 0;
}

.tespih {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column; /* dodano */
}

.bead-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bead {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: #fff;
  margin: 5px;
}

.bead.active {
  background-color: #50A7FF;
}

.count {
  font-size: 40px;
  color: white;
  margin-top: 1rem;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* dodano */
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #50A7FF;
  color: #fff;
  cursor: pointer;
}

#count-btn:hover {
  background-color: #1E90FF;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

#count-btn:active {
  background-color: #1E90FF;
  box-shadow: none;
}
.ajeti p{
  color: white;
  text-align: center;
  padding-top: 5rem;
}

.ajeti span{
  text-align: center;
  color: #50A7FF;
  font-weight: bolder;
}

.lines{
	width: 100%;
	height: 45px;
	position: relative;
	margin-top: -1rem;
  }
  .lines::after, .lines:before{
	content: '';
	position: absolute;
	margin: auto;
	height: 2px;
	background: #fff;
  width: 40%;
	top: 45%;
  }

  .lines::after{
	left: 0;
  }
  .lines::before{
	right: 0;
  }

.circle{
	height: 40px;
	width: 40px;
	border: 2px solid #50A7FF;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	border-radius: 50%;
}

.navbar a {
	float: left;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	line-height: 25px;
	padding: 12px;
}

.navbar .logo {
	font-size: 35px;
	font-weight: bold;
	text-transform: uppercase;
}
.navbar .logo span {
	padding: 4px;
}
.navbar .logo span:hover{
	color: #357ac9;
    transition: 1s cubic-bezier(0.82, 0.18, 0.47, 0.88);
	padding: 10px;
	font-size: 25px;
}

