body{
  background: #2F3238;
}
 .services .content{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 20px;
}

.title h2{
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 2px;
}

.title p{
  font-size: 18px;
  width: 80%;
  color: white;
}

.services .content .card{
  background: #50A7FF;
  width: 340px;
  margin: 30px;
  margin-top: 3rem;
  padding: 25px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  border-radius: 10px;
}

.services .content .card .service-icon{
  color: #3a6cf4;
  font-size: 8em;
  text-align: center;
  transition: transform 0.5s ease;
}

.services .content .card:hover .service-icon{
  transform: translateY(-10px);
}

.services .content .card .info{
  text-align: center;
}

.services .content .card .info h3{
  color: #ffffff;
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px;
}

.info p{
  color: #fff;
  font-size:medium;
}

.navbar {
	background-color: rgba(61, 57, 57, 0.938);
	padding: 10px 8px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 99;
}

.navbar a {
	float: left;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	line-height: 25px;
	padding: 12px;
}

.navbar .logo {
	font-size: 35px;
	font-weight: bold;
  color: #50A7FF;
	text-transform: uppercase;
}
.navbar .logo:hover {
	color: #fff;
  transition: 0.4s;
}
.navbar .logo span:hover{
	color: #357ac9;
    transition: 1s cubic-bezier(0.82, 0.18, 0.47, 0.88);
	padding: 10px;
	font-size: 25px;
}

.navbar-right a:hover {
	color: rgb(103, 149, 235);
}

.navbar-right a.active {
	color: white;
}

.navbar-right a {
	transition: color 0.2s ;
}

.navbar-right {
	float: right;
}

.navbar .icon {
	display: none;
}

.slideshow-container {
	position: relative;
	height: 100%;
}

.slide-item {
	display: none;
}

.bgimg {
	height: 100%;
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bgimg::after {
	content: '\A';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(20, 20, 20, 0.089);
}

.caption {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	z-index: 9;
}

.caption h2 {
	color: var(--white);
	margin-bottom: 50px;
	text-transform: uppercase;
	font-size: 70px;
}

.caption p {
	color: var(--white);
	font-size: 0.8cm;
}

.caption button {
	background-color: var(--white);
	border: 2px solid var(--red);
	color: var(--red);
	padding: 10px 40px;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 16px;
	margin-top: 30px;
	transition: background-color 0.5s ease, color 0.5s ease;
}

.caption button:hover {
	cursor: pointer;
	color: var(--white);
	background-color: #000000;
}

.caption button:focus {
	outline: none;
}

.dot {
	cursor: pointer;
	height: 10px;
	width: 10px;
	margin:  2px;
	background-color: var(--white);
	border-radius: 5px;
	display: inline-block;
	transition: background-color 0.6s ease, height 0.6s;
}

.slide-control {
	position: absolute;
	left: 30px;
	top: 50%;
	width: 10px;
	text-align: center;
}

.dot:hover {
	background-color:#042b52;
}

.dot.active {
	background-color: #042b52;
	height: 60px;
}

/* fade animation */

.fade {
	animation-name: fade;
	animation-duration: 1.0s;
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.0s;
}

@keyframes fade {
	from {
		opacity: .4
	} to {
		opacity: 1
	}
}

@-webkit-keyframes fade {
	from {
		opacity: .4
	} to {
		opacity: 1
	}
}

@media screen and (max-width: 600px) {
	.navbar {
		padding: 10px;
	}
	
	.navbar .menu {
		display: none;
	}

	.navbar .icon {
		display: block;
		position: absolute;
		top: 13px;
		right: 13px;
	}

	.navbar.show {
		background: #00070ed2;
	}

	.navbar.show .menu {
		display: block;
		width: 100%;
	}

	.navbar.show .menu a {
		width: 100%;
	}


}


.nijet1 h1{
  color: #50A7FF;
  text-align: center;
}

.nijet1 p{
  color: white;
  font-weight: bold;
  font-size:  large;
  text-align: center;
}

.nijet2 h1{
  color: #50A7FF;
  margin-top: 2rem;
  text-align: center;
}

.nijet3 h1{
  color: #50A7FF;
  text-align: center;
  margin-top: 2rem;
}

.nijet3 p{
  color: white;
  text-align: center;
  font-weight: bold;
  margin-top: 2rem;
}
.nijet2 p{
  color: white;
  font-weight: bold;
  text-align: center;
  margin-top: 2rem;
}
