body {
    background-color: #2F3238;
}

.naslov {
    color: #fff;
    text-align: center;
    font-size: 1cm;
}

.naslov-nijet1 h3 {
    color: rgb(17, 115, 160);
    text-align: center;
    font-size: 0.8cm;
}

.naslov-nijet1 p{
    color: #fff;
    text-align: center;
    font-size: 19px;
}

.naslov-nijet2 h3{
    color: rgb(17, 115, 160);
    text-align: center;
    font-size: 0.8cm;
}

.naslov-nijet2 p{
    color: #fff;
    text-align: center;
    font-size: 19px;
}

.services .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .title h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 2px;
  }
  
  .title p{
    font-size: 18px;
    width: 80%;
    color: #fff;
  }
  
  
  .services .content .card{
    background: #50A7FF;
    width: 400px;
    margin: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
  }
  
  .services .content .card .service-icon{
    color: #3a6cf4;
    font-size: 8em;
    text-align: center;
    transition: transform 0.5s ease;
  }
  
  .services .content .card:hover .service-icon{
    transform: translateY(-10px);
  }
  
  .services .content .card .info{
    text-align: center;
  }
  
  .services .content .card .info h3{
    color: #fff;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.services .content .card .info p{
    color: white;
    text-align: center;
}

.crta p{
    color: #fff;
    margin-top: -1rem;
}
.crta2, .crta3, .crta4,
.crta1 p{
    color: #fff;
    margin-top: -1rem;
    text-align: center;
}




