*{
    background-color: rgb(61, 57, 57, 0.938);
}
.naslov-dovee{
    color: #fff;
    text-align: center;
    margin-top: 5rem;
    font-size: 25px;
}
.svedove{
    margin-left: 4rem;
}
.naslovi{
    color: #50A7FF;
    font-weight: bolder;
}

.dovetext{
    color: #fff;
    text-align: left;
}
