*{
    background-color: rgb(61, 57, 57, 0.938);
}

.input {
    padding: 10px;
    width: 120px;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 1px  gray;
    font-size: 18px;
    transition: width 0.3s;
    font-family: Consolas,monaco,monospace;
  }
  
  .input:focus {
    outline: 1px solid #fff;
    box-shadow: none;
    width: 230px;
  }
  
  .input::placeholder {
    color: #fff;
  }
.naslov-dovee{
    color: #fff;
    text-align: center;
    margin-top: 5rem;
    font-size: 25px;
}
.svedove{
    margin-left: 4rem;
}
.naslovi{
    color: #50A7FF;
    font-weight: bolder;
}

.dovetext{
    color: #fff;
    text-align: left;
}
